{% extends 'base.html.twig' %}

{% block nav %}
    <a href="/">Документация</a>
{% endblock %}

{% block main %}
    <div class="container">
        <main class="container-main">
            <article id="services">
                <h2>Управление сервисами</h2>
                <section>
                    <button onclick="showModal('new')">Сгенерировать новый ключ</button>
                    <section id="new" class="modal">
                        <section class="modal-head">
                            <h3>Новый сервис</h3>
                            <button onclick="closeModal('new')" class="brad-5">✖</button>
                        </section>
                        <section class="modal-content">
                            <form action="{{ path('services_new') }}" method="post">
                                <input type="hidden" name="token" value="{{ csrf_token('create-item') }}"/>
                                <label for="new_service_title">Название сервиса</label>
                                <input type="text" name="service" id="new_service_title">
                                <label for="new_service_description">Описание</label>
                                <textarea name="description" id="new_service_description"></textarea>
                                <input type="submit" value="Сохранить">
                            </form>
                        </section>
                    </section>
                </section>
                <section>
                    <h3>Сгенерированные ключи</h3>
                    {% if services|length == 0 %}
                        <p>Сервисов пока нет...</p>
                    {% else %}
                        <table>
                            <tr>
                                <th>Сервис</th>
                                <th>Описание</th>
                                <th>Ключ</th>
                                <th>Автор</th>
                                <th>Управление</th>
                            </tr>

                            {% for service in services %}
                                <tr>
                                    <td>{{ service.service }}</td>
                                    <td>{{ service.description }}</td>
                                    <td class="nowrap">
                                        <button onclick="toClipboard('key_{{ service.id }}')" class="brad-5">✂</button>
                                        <code class="code" id="key_{{ service.id }}">{{ service.value }}</code>
                                    </td>
                                    <td>{{ service.creator }}</td>
                                    <td>
                                        <button onclick="showModal('update_item_{{ service.id }}')">Исправить</button>

                                        <form action="{{ path('services_delete', {'id': service.id }) }}" method="post">
                                            <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
                                            <button class="bg-medium">Удалить</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </section>
                <section>
                    {% for service in services %}
                        <section id="update_item_{{ service.id }}" class="modal">
                            <section class="modal-head">
                                <h3>{{ service.service }} </h3>
                                <button onclick="closeModal('update_item_{{ service.id }}')" class="brad-5">✖</button>
                            </section>
                            <section class="modal-content">
                                <form action="{{ path('services_update', {'id': service.id }) }}" method="post">
                                    <input type="hidden" name="token"
                                           value="{{ csrf_token('update-item') }}"/>
                                    <label for="update_service_title_{{ service.id }}">
                                        Название сервиса
                                    </label>
                                    <input type="text" name="service"
                                           id="update_service_title_{{ service.id }}"
                                           value="{{ service.service }}"
                                    >
                                    <label for="update_service_description_{{ service.id }}">
                                        Описание
                                    </label>
                                    <textarea name="description"
                                              id="update_service_description_{{ service.id }}">
                                    {{ service.description }}
                                    </textarea>
                                    <div>
                                        <input type="checkbox" name="regenerate"
                                               id="update_service_regenerate_{{ service.id }}"
                                        >
                                        <label for="update_service_regenerate_{{ service.id }}">Сгенерировать новый ключь</label>
                                    </div>
                                    <input type="submit" value="Сохранить">
                                </form>
                            </section>
                        </section>
                    {% endfor %}
                </section>
            </article>
        </main>
    </div>
{% endblock %}


{% block footer %}
    <footer>
        <article class="center-column">
            <h4>
                ИАЦ ГрГУ имени Янки Купалы
            </h4>
            <time>
                2023
            </time>
        </article>
    </footer>
{% endblock %}
